<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <ul>
        <% for (let item of items) { %>
            <li>
                <%= item %>
            </li>
            <% } %>
    </ul>

</body>

</html>